<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<style type="text/css">
		body{
			margin: 0;
		}
		.header{
			background: #E5FFCA;
			padding: 50px 100px;
			color :#54A104;
			text-align: center;
		}
		.footer{
			background: #313131;
			color: #6E88F9;
			text-align: center;
			padding: 50px 0;
		}
		.sidebar{
			background:#C8D2FE;
			width: 20%;
			float: left;
		}
		.con{
			background: red;
			width: 80%;
			float: right;

		}
		.tab{
			padding: 10px;
			margin: 5px 0;
			background: #fff;
		}
	</style>
</head>
<body>
	<div class="header">
		Header
	</div>
	<div style="display: flex;">
		<div class="sidebar">
			<div style="padding: 10px;">
				<p class="tab">tab1</p>
				<p class="tab">tab1</p>
				<p class="tab">tab1</p>
				<p class="tab">tab1</p>
				<p class="tab">tab1</p>
			</div>
		</div>
		<div class="con">
			<h1>Heading</h1>
		</div>
	</div>
	<footer class="footer">
		footer
	</footer>

</body>
</html>